@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-13.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>BloodBank</span></h2>
                        <p class="animate__animated animate__fadeInUp">“It does not matter how much we donate; it matters whether the donation is meaningful. How to define meaningful? Let society and history judge.” — Ronnie Chan</p>
                        @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-11.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>BloodBank</span></h2>
                        <p class="animate__animated animate__fadeInUp">“You have not lived today until you have done something for someone who can never repay you.” — John Bunyan</p>
                        @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-12.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>BloodBank</span></h2>
                        <p class="animate__animated animate__fadeInUp">“The blood you donate gives someone another chance at life. One day, that someone may be a close relative, a friend, a loved one—or even you.” </p>
                        @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="assets/img/blood.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>"Saving lives, one donation at a time" - Our Commitment to Community Health and Wellbeing</h3>
                <p class="fst-italic">
                    A blood bank is a vital resource for any community, providing life-saving blood transfusions to those in need. Our blood bank is dedicated to ensuring that the blood supply in our community is safe, secure, and readily available to those who need it.
                </p>
                <p class="fst-italic">
                    We are a team of trained professionals who are committed to making a positive impact on the health and wellbeing of those in our community. Our staff includes skilled phlebotomists who are responsible for collecting and processing blood donations, as well as trained technicians who test and prepare blood components for transfusion.
                </p>
                <p class="fst-italic">
                    At our blood bank, we follow strict guidelines to ensure that the blood supply is safe and free from infectious diseases. We carefully screen all blood donors for any risk factors that may affect the safety of the blood supply, and we conduct thorough testing on all donated blood to identify any potential risks.
                </p>
                <p class="fst-italic">
                    We also work closely with healthcare providers in our community to ensure that they have access to the blood products they need to care for their patients. Our goal is to be a reliable partner in healthcare, providing a critical resource that can make a difference in the lives of those in need.
                </p>
                <p class="fst-italic">
                    Thank you for considering our blood bank as a source of life-saving blood products. We are proud to serve our community and remain committed to providing the highest level of care and service to those we serve.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
